body {
  font-family: Arial;
  text-align: center;
  background: #f0f8ff;
}

canvas {
  max-width: 800px;
  margin: 30px auto;
}

input {
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}